.render-buttons {
    margin-top: 30vh;
}

.card-width {
    width: 50%;
    height: 100px;
}

.inactive-button {
    border: none;
    background-color: #dad3d3d8;
    padding: 0 20px;
}

.inactive-button:hover {
    border: none;
    background-color: #a39c9cc4;
}

.active-button {
    border: none;
    background-color: #dad3d3d8;
    padding: 0 20px;
}

.active-button:hover {
    border: none;
    background-color: #a39c9cc4;
}

.submit-button {
    border: none;
    background-color: #dad3d3d8;
    padding: 10px 20px;
}

.submit-button:hover {
    border: none;
    background-color: #a39c9cc4;
}

.advice {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #721c24;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e48e95;
    border: none;
    border-radius: 5px;
    color: #721c24;
    width: 200px;
}

.restart-button:hover {
    background-color: #df5e68;
}